  <div class="d-flex align-items-center justify-content-around my-4">
    <%= link_to "Back", category_records_path(@category), class: "btn btn-secondary" %>
    <h3>Transactions</h3>
    <i></i>
  </div>
  <div>
      <div class="c_card card flex-row align-items-center p-2 gap-4">
        <%= image_tag @category.icon %>
        <div class="card_info">
          <%= link_to @category.name, category_records_path(@category) %>
          <span class="text-muted"><%= l @category.created_at.to_date, format: :long %></span>
        </div>
      </div>
  </div>
  <h2 class="text-center">No categories found.</h2>
<div class="footer d-flex flex-column p-4">
  <%= link_to "Create a new Record", new_category_record_path(@category), class: "btn back-green text-white" %>
</div>